*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 15px;
}

html, body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  --color-text: #111;
  --color-bg: #fff;
  --color-link: #000;
  --color-link-hover: #000;
  color: var(--color-text);
  /* background-color: var(--color-bg); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sofia-pro, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
}

.marquee {
  position: relative;
  overflow: hidden;
  --offset: 1vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(0% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 7s linear infinite;
  animation-play-state: running;
}

.marquee:hover .marquee__inner {
  /* animation-play-state: paused; */
}

.marquee span {
  font-size: 2vw;
  padding: 0 1vw;
  font-weight: 500;
  white-space: nowrap;
}

.marquee img {
  width: 400px;
}

@media (max-width: 599px) {
  .marquee img {
    width: 250px;
  }
}

.image {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transform: translate3d(0,20px,0);
  transition: all 0.4s;
  height: 400px;
}

.marquee:hover + .image {
  opacity: 1;
  transform: translate3d(0,0,0);
	transition: all 0.4s;
}


@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
