*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 15px;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  --color-text: #111;
  --color-bg: #fff;
  --color-link: #000;
  --color-link-hover: #000;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sofia-pro, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

.marquee {
  position: relative;
  --offset: 20vw;
  --move-initial: calc(-10% + var(--offset));
  --move-final: calc(15% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5.5s linear infinite;
  animation-play-state: running;
}

.marquee span {
  font-size: 2vw;
  padding: 0 1vw;
  font-weight: 500;
  white-space: nowrap;
}

.marquee img {
width: 300px;
}

.marquee:hover .marquee__inner {
  animation-play-state: paused;
}



@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
