*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 15px;
}

html, body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  --color-text: #111;
  --color-bg: #fff;
  --color-link: #000;
  --color-link-hover: #000;
  color: var(--color-text);
  /* background-color: var(--color-bg); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sofia-pro, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.marquee {
  position: relative;
  overflow: hidden;
  --offset: 6vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(0% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 20s linear infinite;
  animation-play-state: running;
  align-items: center;
  height: 400px;
}

.marquee:hover .marquee__inner {
  /* animation-play-state: paused; */
}

.marquee-logo {
  width: 300px;
  height: 50px;
  background-image: url("../img/Studio_Joseph_Gardner_Logo.png");
  background-size: 300px;
  background-repeat: no-repeat;
  padding-left: 0;
  margin-left: 0;
  position: relative;
}

.marquee-text {
  white-space: nowrap;
  font-size: 1.4em;

}

.project {
  width: fit-content;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 3em;
}


/* @media (max-width: 599px) {
  .marquee img {
    width: 250px;
  }
} */

.content-image {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transform: translate3d(0,20px,0);
  height: 400px;
}

.project:hover > .content-image {
  opacity: 1;
  transform: translate3d(0,0,0);
	transition: all 0.4s;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.fade-in {
	opacity:0;  /* make things invisible upon start */
	animation: ease-in 1;
	animation-fill-mode: forwards;
	animation-duration:1s;
  animation-name: fadeIn;
  animation-delay: 0.5s;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
